
.nav-game-container {
  color: white;
  display: flex;
  justify-content: center;
  background-color: #00bcd4;
}

[class*='nav-game-child-'] {
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
}

[class*='nav-game-child-'] :hover {
  cursor: pointer;  
}
.nav-game-child-1-3 {
  width: 20%;
}

.nav-game-child-4-5 {
  width: 10%;
}

.events-list-footer {
  margin-top: 10px;
  background-color: #00bcd4;
}

.buttons-list-container {
  margin-top: 50px;
}

