.navContainer {
  border-radius: 25px;
  height:100vh;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  background-color:#2f3032;
}

.navItem a {
  color: white;
}

.navItem :hover {
  background-color: #69F0AE;
  cursor: pointer;
}

.navIcon {
  color: white;
  position: relative;
  top: 5px;
  left: 5px;
  padding-right: 10px;
}