.navContainer {
  border-radius: 25px;
  height:33vh;
  display: flex;
  flex-direction: column;
  background-color:#3aaad8;
  box-shadow: inset 0 0 10px #bcd4e6, 0 0 10px #bcd4e6;
  

}

.navItem a {
  color: white;
  border-radius: 25px;
  padding: 5px;
}

.navItem :hover {
  background-color: #3C474B;
  cursor: pointer;
}

.navIcon {
  color: white;
  position: relative;
  top: 5px;
  left: 5px;
  padding-right: 10px;

}