.header {
  background: #0091EA;
}
.nav {
  border: 3px solid rgb(0, 128, 0);
}
.logo {
  margin-left: 75%;
  padding: 10px;
  color: white;
}
.content {
  background: black;
}

[class*='col-'] {
  float: left
}

.col-1-10 {
  width: 10%;
  padding: 10px;
}

.col-2-10 {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
}