.settings-container {
  display: flex;
}

.settings-child {
  width: 32%;
  margin-right: 1%;
  background-color: #5C95AF;
  color: white;
  height: 50vh;
}

.inline {
  display: inline;
}
.delete-season {
  margin-top: 10px;
  margin-left: 75%;
}