.settings-container {
  display: flex;
}

.settings-child {
  width: 32%;
  margin-right: 1%;
  background-color: #5C95AF;
  color: white;
  height: 50vh;
}

.content {
  margin-left: 10%;
  margin-top: 15px;
}

.delete-season {
  margin-top: 10px;
  margin-left: 75%;
}